<table  style="border-collapse: collapse" bordercolor="#111111" width="100%" height="100%">
    <tr>
        <td>
            <div>
                <div class="left"> 
                    <h1>Jonnathan Pelaez</h1>
                </div>
                <div class="right">
                    <img
                    src="https://portal.ups.edu.ec/o/ups-private-theme/images/ups/logo-ups-home.png"
                    alt="www.ups.edu.ec"
                    />
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table  style="border-collapse: collapse"  width="100%" height="100%">
                <tr>
                    <td>
                        <button (click)=" listar()" class="left">Listar Carrera</button>
                    </td>
                    <td>
                        <button (click)="nuevo()"  class="center">Nueva Carrera</button>
                    </td>
                    <td>
                        <button (click)="acerca()" class="right">Acera de..</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



